/.idea/*
!/.idea/codeStyles
!/.idea/runConfigurations
/.gradle/
/build/
/.nb-gradle/
/opentcs-example-common/build/
/opentcs-example-documentation/build/
/opentcs-example-kernel/build/
/opentcs-example-kernelcontrolcenter/build/
/opentcs-example-kernel-extension-statistics/build/
/opentcs-example-modeleditor/build/
/opentcs-example-operationsdesk/build/
/opentcs-example-operationsdesk-panel-statistics/build/
