/.gradle/
/build/
/.nb-gradle/
/openTCS-Contrib-Communication-TCP/build/
/openTCS-Example-CommAdapter-Vehicle/build/
/openTCS-Example-Common/build/
/openTCS-Example-Documentation/build/
/openTCS-Example-Kernel/build/
/openTCS-Example-KernelControlCenter/build/
/openTCS-Example-ModelEditor/build/
/openTCS-Example-OperationsDesk/build/
